@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
   color: #000;
   font-weight: 600;
}

.ui-img {
   min-width: 200px;
   min-height: 200px;
   > img {
      object-fit: contain;
   }
}

main {
   height: 421px;
   width: 421px;
   margin: auto;
   border: 2px solid #e0e0e0;
   position: relative;
}
